{{template "base" .}}

{{define "body"}}
    <div class="row">
        <div class="col">
            <p>This is home.</p>
        </div>
        <div class="col">
            data from code {{.}}
        </div>
    </div>
{{end}}
